<div align="right">Admin authUser (<a href="/logout">logout</a>)</div>

    <div class="container">
        <h1>Add User</h1>
        <form class="col-sm-6 form-horizontal" action="add" method="post" role="form" modelAttribute="cuser">
            <div class="form-group">
                <label for="login" path="login">Login</label>
                <input type="text" class="form-control" id="login" value="cuser.login" name="login"
                            path="login" autofocus= "autofocus"/>
            </div>
            <div class="form-group">
                <label for="password" path="password">Password</label> <span class="badge badge-danger passworderror"></span>
                <input type="password" class="form-control" id="password" name="password" path="password"/>

            </div>
            <div class="form-group">
                <label for="passwordConf" path="passwordConf">Password Again</label> <span class="badge badge-danger passworderror"></span>
                <input type="password" class="form-control" id="passwordConf" path="passwordConf"/>
            </div>
            <div class="form-group">
                <label for="email" path="email">Email address</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp" name="email"
                            path="email" value="cuser.email"/>
            </div>
            <div class="form-group">
                <label for="firstname" path="firstName">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" value="cuser.firstName"
                            path="firstName"/>
            </div>
            <div class="form-group">
                <label for="lastname" path="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname"
                            path="lastName" (change)="onChange($event)"/>
            </div>

            <div class="form-group">
                <label for="birthday" path="birthday">Birthday</label>
                <input type="date" class="form-control" id="birthday" name="birthday" value="cuser.birthday"
                            path="birthday"/>
            </div>

            <!-- <div class="form-group">
                <label for="role" path="role">Role</label>
                <select class="form-control" id="role" name="role" path="role">
                    <option value="ADMIN"/>
                    <option value="USER"/>
                </select>
            </div> -->

            <button type="submit" class="btn btn-primary" id="submitBtn" >Create</button>
            <a class="btn btn-cancel">Cancel</a>
        </form>
    </div>