<div class="container">
  <h2 align="center">Users Table</h2>

  <div>
    <form>
      Enter login: <input type="text" [(ngModel)] = "cuser.login" name="login" placeholder="login"> <br>
      Enter password: <input type="text" [(ngModel)] = "cuser.password" name="password"><br>
      Enter email: <input type="text" [(ngModel)] = "cuser.email" name="email"><br>
      Enter firstname: <input type="text" [(ngModel)] = "cuser.firstName" name="firstname"><br>
      Enter lastname: <input type="text" [(ngModel)] = "cuser.lastName" name="lastname"><br>
      Enter birthday: <input type="date" [(ngModel)] = "cuser.birthday" name="birthday"><br>
      Enter role: <input type="text" [(ngModel)] = "cuser.roleName" name="role"><br>

      
      <button (click) = "addUser()">Add User</button>
    </form>
  </div>
              
  <table class="table table-bordered">
    <thead>
      <tr align="center">
        <th>Id</th>
        <th>Login</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td align="center">{{user.id}}</td> 
        <td>{{user.login}}</td>
        <td>{{user.email}}</td>
        <td>EDIT | <button (click)="deleteUser(user.id)">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>